<section class="bar text-center-md bg-light" id="parish-hall-rental">
    <div class="container padding-vertical">
        <div class="row d-flex align-items-center">
            <div class="col-md-12 col-lg-6">
                <a href="#">
                    <img class="w-100 img-thumbnail" src="img/parish-hall.jpg" alt="">
                </a>
            </div>
            <div class="col-md-12 col-lg-6 pt-2 mt-md-4 mt-lg-0 mt-4">
                <h2 class="text-uppercase">Parish Hall Rental</h2>
                <p class="lead mb-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pulvinar faucibus neque, nec rhoncus nunc ultrices sit amet.</p>
                <p><a class="btn btn-template-main" href="docs/RENTAL-form.pdf">Hall Rental Form</a></p>
            </div>
        </div>
    </div>
</section>
