<section class="no-mb relative-positioned padding-horizontal bar no-padding-top" style="/* background: url(img/fixed-background-2.jpg) center top no-repeat */
/* background-size: cover */">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 p-3">
                <div class="box-icon bg-primary hover-big text-center color-white" data-pg-name="Icon Box">
                    <div class="box-simple">
                        <a href="scheduleanddirections.html" target="_self">
                            <div class="icon-outlined icon-lg">
                                <i class="fa fa-bell-o"></i>
                            </div>
                        </a>
                        <h3 class="h4">Sacraments</h3>
                    </div>
                </div>
            </div>
            <div class="p-3 col-lg-3 col-md-6 col-sm-6">
                <div class="bg-secondary box-icon color-primary text-center hover-big" data-pg-name="Icon Box">
                    <div class="box-simple">
                        <a href="bulletin-archive.html" target="_self">
                            <div class="icon-outlined icon-lg color-primary">
                                <i class="fa fa-newspaper-o"></i>
                            </div>
                        </a>
                        <h3 class="h4">Bulletin</h3>
                    </div>
                </div>
            </div>
            <div class="p-3 col-lg-3 col-md-6 col-sm-6">
                <div data-pg-name="Icon Box" class="box-icon bg-accent text-center hover-big color-primary">
                    <div class="box-simple">
                        <a href="https://www.eservicepayments.com/cgi-bin/Vanco_ver3.vps?appver3=Fi1giPL8kwX_Oe1AO50jRpD4Ri1ipMz8SjtO-fInVtuhjXsUKRLlmI4vCU4-rZZZ2EvVVAEjqawDomKT1pbouYCLiHsYNviTLNfVAvw7pMg=&ver=3" target="_blank">
                            <div class="icon-outlined icon-lg color-primary">
                                <i class="fa fa-handshake-o"></i>
                            </div>
                        </a>
                        <h3 class="h4">Give</h3>
                    </div>
                </div>
            </div>
            <div class="text-center p-3 col-lg-3 col-md-6 col-sm-6 hover-big color-white">
                <div class="box-icon bg-tertiary" data-pg-name="Icon Box">
                    <div class="box-simple">
                        <a href="#">
                            <div class="icon-outlined icon-lg">
                                <i class="fa fa-user-plus"></i>
                            </div>
                        </a>
                        <h3 class="h4">Register</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
