{{ if .Site.Params.topbar.enable }}
<div id="top">
  <div class="container">
    <div class="row">
      <div class="col-xs-5">
        <!--{{ .Site.Params.topbar.text | safeHTML }} - {{ .Site.Data.settings.site_phone | safeHTML}}-->
        <p class="hidden-sm hidden-xs">Contact us at {{ .Site.Data.settings.site_phone | safeHTML}} or {{ .Site.Data.settings.site_email | safeHTML}}</p>
          <p class="hidden-md hidden-lg"><a href="{{ .Site.Data.settings.site_phone}}" data-animate-hover="pulse"><i class="fa fa-phone"></i></a>
          <a href="mailto:{{ .Site.Data.settings.site_email}}" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
          </p>
      </div>
      <div class="col-xs-7">
        <div class="social">
          {{ range .Site.Menus.topbar.ByWeight }}
          {{ if ne .URL "" }}
          <a href="{{ .URL }}" target="_blank" style="opacity: 1;">{{ .Pre }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
