<footer class="main-footer">
    <div class="container text-center-sm">
        <div class="row text-center center d-flex align-items-center">
            <div class="col-md-4 text-uppercase pb-4 pb-md-0">
                <p> 5622 Julie Drive  <br>Highway 231 Bayou George <br>Panama City, FL 32404</p>
            </div>
            <div class="col-md-4">
                <img src="img/olr-footer.png" alt="..." class="img-fluid">
            </div>
            <div class="col-md-4 text-uppercase pt-4 pt-md-0">
                <p>Phone: (850) 769-5067<br>
Fax: (850) 769-1227</p>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <div class="container text-center">
            <p>© 2018. <a href="https://ptdiocese.org">The Diocese of Pensacola-Tallahassee</a></p>
        </div>
    </div>
</footer>
