<div class="col-md-9 text-center-sm col-lg-9">
    <div class="heading text-center-sm">
        <h1>Welcome to our Parish</h1>
    </div>
    <p class="mb-small lead">We, the parish community of Our Lady of the Rosary Catholic Church in Panama City, Florida, seek to improve our efforts to reach out to all of God`s children; to continue to foster a people friendly and supportive environment; and to accomplish all of this without sacrificing the close knit community feeling that personifies our Parish</p>
    <p>We would love for you to join us for Mass this weekend.</p>
    <p class="pt-3"><a class="btn btn-template-main" style="margin-right: .5rem;" href="https://goo.gl/maps/94Ch96w6S6M2" target="_blank">Get Directions</a>&nbsp; </p>
</div>
