<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "top.html" . }}

          {{ partial "nav.html" . }}

        </header>

        {{ partial "bigblock.html" . }}

        <!-- {{ partial "carousel.html" . }}-->

      <h3>INSERT CONTENT</h3>


        {{ partial "middle_blurb.html" . }}

<h3>INSERT OTHER CONTENT</h3>

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}
    <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/#/collections/post";
        });
      }
    });
  }
</script>

  </body>
</html>
